#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #282c34;
}

.card {
  padding: 2em;
}

.app {
  min-height: 100vh;
  text-align: center;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #045b73;
}

.app-linkedin-link {
  padding: 1.5em;
  width:40px; 
  height:40px;
}

.input {
  min-height: 2rem;
}

.form, .form label {
  display: flex;
  align-items: center;
  gap: 1rem;
}
